<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="ORCS" connectionString="Data Source=10.0.0.149; 
									     Initial Catalog=PHLSCI;
										 User ID=web_orderreport;
										 Password=b5e80e0da3f447f0a37068e4b5707090;
										 Connection Timeout=60;" providerName="System.Data.SqlClient" />
	
	</connectionStrings>
	<system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
